@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body {
    min-height: 100vh;
    margin    : 0;
}

app-root {
    height    : 100%;
    display   : flex;
    min-height: 100vh;
}
